/* p.txt{
    background-color:yellow;
    font-size:12px;
} */

/* name of tag  */
/* div { 
  background-color: lightblue;
  border: 1px solid blue;
} */

/* id */
#subtitle {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

/* class */
.txt {
  color: yellow;
  background-color: black;
}

p {
  color: rosybrown;
}

/* 
*{
    border: 1px solid black;
border-radius: 20px;
} */

h1,
div {
  background-color: bisque;
  padding: 10px;
}
 div p {
    color: lightpink !important;
background-color: white !important;
}

div p span {
    font-size: 18px ;
    color: blueviolet;
}

div p span .txt {
    font-size: 18px ;
    color: black;
    font-weight: 800;
    font-style: italic;
}

div p #mytext span {
    font-size: 18px ;
    color: rgb(19, 192, 19);
    font-weight: 800;
 
}


img{
    width: 500px ;
    border-radius: 50%;
    border-color: rgb(138, 20, 192);
    
}