.heading
{
    text-align: center;
    color: rgb(114, 152, 9);
    font-family: sans-serif;
    text-shadow: 10px 1px 2px rgba(215, 176, 117, 0.904);
}

.container
{
    text-align: center;
}
.fontStyle
{
   
    color:rgb(234, 114, 15);
    font-family: sans-serif;
}
body{
    background-image: url("background.jpg");

}
.link{
    color: rgb(195, 98, 24);
    text-decoration: none;
}
.line{
    border: 2px dashed black;
}
.birdColumn
{
    display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   
}
.image{
    width: 200px;
    height: 200px;
    padding: 10px;
}

.fontStyle2 {
color: rgb(152, 195, 33);
text-align: center;
}
.Lastheading{
    text-align: center;
    color: rgb(114, 152, 9);
    font-family: sans-serif;
}
.end{
    text-align: center;
    color: rgb(152, 69, 9);
    font-family: sans-serif;
}